torch
dxcam
numpy
pandas
tqdm
matplotlib
seaborn
cython
mouse
pynput
opencv-python==4.5.3.56 
pyautogui
pynput
mouse
pyinstaller
scipy
PyYAML
nvidia-pyindex
protobuf<4.21.3
onnxruntime-gpu
onnx>=1.9.0
onnx-simplifier>=0.3.6
coremltools
PyQt5
QtPy
mss
rich
simple_pid
cryptography
pywin32
requests
pyinstaller
tinyaes
TensorRT_8.4.0.6\tensorrt-8.4.0.6-cp37-none-win_amd64.whl
onnx_graphsurgeon